# GENERAL
DJANGO_SETTINGS_MODULE=django_project.settings.development
SECRET_KEY=secret-key
DEBUG=True
ALLOWED_HOSTS=127.0.0.1,localhost
CSRF_TRUSTED_ORIGINS=http://localhost

# RELATIONAL DATABASE
POSTGRES_HOST=your-db-host
POSTGRES_PORT=your-db-port
POSTGRES_USERNAME=your-db-username
POSTGRES_PASSWORD=your-db-password
POSTGRES_DATABASE=your-db-name

# CACHING DATABASE
REDIS_HOST=your-db-host
REDIS_PORT=your-db-port
REDIS_DATABASE=your-db-name

# EMAIL
EMAIL_HOST=your-email-host
EMAIL_PORT=your-email-port
EMAIL_HOST_PASSWORD=your-email-host-password
EMAIL_HOST_USER=your-email-host-user

# Neva Objects / S3 Storage
USE_S3=False
NEVA_ACCESS_KEY_ID=
NEVA_SECRET_ACCESS_KEY=
NEVA_BUCKET_NAME=
NEVA_ENDPOINT_URL=